<h2 class="autoTitle">Auto Build a Pc</h2>

<p class="autoScript">Put in your maximum price and hit 'Build It', and we will automatically build you a PC! </p>

<div  layout="column">
  <br>
  <md-content class="buildItDiv" layout-padding class="autoScroll">

    <md-input-container class="md-icon-float">
      <label>Maximum Price</label>
      <input type="text" placeholder="Maximum Price">
    </md-input-container>
    <md-button md-no-ink class="md-primary">Build It</md-button>

  </md-content>

<ul class="completeComp">
  <li class="compComputer" ng-repeat="build in autoBuild">{{ build.total_price }} {{ build.parts }}</li>
</ul>





