<h2 class="autoTitle">Auto Build a Pc</h2>

<p class="autoScript">Put in your maximum price and hit 'Build It', and we will automatically build you a PC! </p>


<div  layout="column">
  <br>
    <md-content class="buildItDiv" layout-padding class="autoScroll">
    <md-input-container class="md-icon-float">
      <label>Maximum Price</label>
      <input type="text" placeholder="Maximum Price" ng-model="total_price">
      </md-input-container>
      <md-button md-no-ink class="md-primary" ng-click="autoBuild(total_price)">Build It</md-button>
    </md-content>


<ul class="completeComp" ng-repeat="build in autoBuild">
    <h2>Here's your computer!</h2>

 <li>CPU: {{ build.cpu.model }}</li>
 <li>Motherboard: {{ build.motherboard.model }}</li>
 <li>GPU: {{ build.gpu.model }} </li>
 <li>RAM: {{ build.ram.model }}</li>
 <li>Hard Drive: {{ build.storage.model }}</li>
 <li>Power Supply: {{ build.psu.model }}</li>
 <li>Case: {{ build.computer_case.model }}</li>
 <li>Total Price: ${{ total_price }}</li>

 <!--  <li ng-repeat="price in totalPrice"> {{ price.total_price }}</li>
  <li class="compComputer" >{{ build.total_price }} <span>{{ build.cpu.model }}</span> || <span>{{ build.gpu.model }}</span></li> -->
</ul>


