<md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="compButton md-icon-button" ng-repeat="property in properties">{{ property }}</md-button>
        <md-button class="compButton md-icon-button" ng-repeat="key in sortable_keys">{{ key }}</md-button>
         <md-button md-no-ink class="addButton" ng-click="addMe(data)">Add Component</md-button>
      </div>
    </md-toolbar>
</md-content>



  <ul class="complist">
    <li class="itemList" ng-repeat="item in items">
      <md-checkbox class="checkBox" aria-label="component" ng-click="toggle(item, selected)"></md-checkbox>
      <div class="listDiv"><span class="listMake">{{ item.make }}</span> |
      <span class="listCost">${{ item.cost }}</span> |
      <span class="listModel">{{ item.model }}</span></div>
    </li>
  </ul>

