

<div class="bod">

<aside flex>


  <ul class="jsonLists">
   <h2 class="compTitle">Components</h2>
    <a class="navis" href="/#/cpu"><li>CPU</li></a>
    <a class="navis" href="/#/motherboard"><li>Motherboard</li></a>
    <a class="navis" href="/#/gpu"><li>Video Card</li></a>
    <a class="navis" href="/#/ram"><li>Memory</li></a>
    <a class="navis" href="/#/hard_drive"><li>Hard Drives</li></a>
    <a class="navis" href="/#/solid_state">Solid State Drive</a>
    <a class="navis" href="/#/psu"><li>Power Supply</li></a>
    <a class="navis" href="/#/computer_case"><li>Case</li></a>
  </ul>





<form layout="column" ng-submit="addBuild(build, buildName)">
    <div class="myBuild">
      <h2 class="buildTitle">My Build</h2>
        <ul class="contentList">
           <li class="buildBlocks" ng-repeat="item in build track by $index">
            {{ item.model }} - ${{ item.cost }}
          </li>
        </ul>
    <br>
      <md-content layout-padding class="autoScroll">
        <md-input-container class="md-icon-float">
        <label class="label">PC Name</label>
        <input ng-model="buildName" type="text">
        </md-input-container>
        <md-button md-no-ink class="buildBut">Build It</md-button>
      </md-content>
    </div> <!-- myBuild -->
</form>
</aside>




<section flex>
  <div class="components" ui-view>

  </div>
</section>

</div> <!-- bod -->







