<h1>PC Build-A-PC</h1>
<div class="bod">

<aside>
  <ul class="jsonLists">
    <a href="/#/cpu"><li>CPU</li></a>
    <a href="/#/motherboards"><li>Motherboard</li></a>
    <a href="/#/memory"><li>Memory</li></a>
    <a href="/#/storage"><li>Storage</li></a>
    <a href="/#/videocards"><li>Video Card</li></a>
    <a href="/#/cases"><li>Case</li></a>
    <a href="/#/powersupplies"><li>Power Supply</li></a>
  </ul>

  <div class="myBuild">
    <h3>My Build</h3>

  </div>

</aside>



<section>
 <div class="components" ui-view>
  <div></div>






 </div>
</section>


</div> <!-- bod -->
