<h2 class="savedBuilds">Saved Builds</h2>


<ul class="dummy">

<li>AMD - A10-7700K 3.4GHz Processor - Black - $131.99
</li><li>Asus - Crosshair V Formula-Z ATX Motherboard 2400MHz (Socket AM3+) - Multi - $211.99</li>

<li>Asus - NVIDIA GeForce 210 1GB GDDR2 PCI Express 2.0 Graphics Card - $35.99</li>

<li>Corsair - Vengeance 2-Pack 8GB CL9 DDR3 DIMM Desktop Memory Kit - Multi - $122.99</li>

<li>Buffalo Technology - 4TB Internal Serial ATA Hard Drive for Select Buffalo Technology TeraStation Network Storage Devices - Multi - $319.99</li>

<li>Corsair - AX860 860-Watt ATX Power Supply - Black - $199.99</li>

<li>Cooler Master - Elite 431 Plus ATX/Micro ATX Tower Case - Black - $54.99</li>

<li>Total Price: $1846.98</li>

</ul>


<ul class="dummy2">
<li>AMD - A8-7600K 3.1GHz Processor - White - $95.99</li>

<li>Asus - M5A99FX PRO R2.0 ATX Motherboard 2133MHz (Socket AM3+/AM3) - Multi - $134.99</li>

<li>EVGA - GeForce GTX 750 Ti Graphic Card - 1.02 GHz Core - 2 GB GDDR5 SDRAM - PCI Express 3.0 x16 - $149.99</li>

<li>Corsair - Dominator Platinum 2-Pack 8GB PC3-12800 DDR3 DIMM Desktop Memory Kit - Multi - $176.99</li>

<li>Buffalo Technology - 2TB Internal Serial ATA Hard Drive for Select Buffalo Technology TeraStation Network Storage Devices - Black/Silver - $158.99</li>

<li>Corsair - RM Series 1000W Power Supply - Black - $175.99</li>
<li>Nanoxia - Deep Silence 5 XL-ATX and eATX Full-Tower Case - Black - $139.99</li>
<li>Total Price: $1032.93</li>

</ul>

