<h2 class="savedBuilds">Saved Builds</h2>


<ul class="dummy">

<li>AMD - A10-7700K 3.4GHz Processor - Black - $131.99
Asus - Crosshair V Formula-Z ATX Motherboard 2400MHz (Socket AM3+) - Multi - $211.99</li>

<li>Asus - NVIDIA GeForce 210 1GB GDDR2 PCI Express 2.0 Graphics Card - $35.99</li>

<li>Corsair - Vengeance 2-Pack 8GB CL9 DDR3 DIMM Desktop Memory Kit - Multi - $122.99</li>

<li>Buffalo Technology - 4TB Internal Serial ATA Hard Drive for Select Buffalo Technology TeraStation Network Storage Devices - Multi - $319.99</li>

<li>Corsair - AX860 860-Watt ATX Power Supply - Black - $199.99</li>
<li>Cooler Master - Elite 431 Plus ATX/Micro ATX Tower Case - Black - $54.99</li>

<li>Total Price: $1800</li>

</ul>




