

$mainFont: 'Josefin Sans', sans-serif;

$textColor: #382516;

$otherFont: 'Magra', sans-serif;

 body{
background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 8%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(8%, rgba(219,219,219,1)), color-stop(50%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 8%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 8%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 8%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 8%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
   // background-color: #FEAEC8;
   font-family: $otherFont;

 }






// ************
// ***Header***
// ************

header{
  height: 150px;
  // background-color: #4741B8;
// background: #382516;
background: rgba(143,203,193,1);
background: -moz-linear-gradient(-45deg, rgba(143,203,193,1) 0%, rgba(143,203,193,1) 50%, rgba(56,37,22,1) 50%, rgba(56,37,22,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(143,203,193,1)), color-stop(50%, rgba(143,203,193,1)), color-stop(50%, rgba(56,37,22,1)), color-stop(100%, rgba(56,37,22,1)));
background: -webkit-linear-gradient(-45deg, rgba(143,203,193,1) 0%, rgba(143,203,193,1) 50%, rgba(56,37,22,1) 50%, rgba(56,37,22,1) 100%);
background: -o-linear-gradient(-45deg, rgba(143,203,193,1) 0%, rgba(143,203,193,1) 50%, rgba(56,37,22,1) 50%, rgba(56,37,22,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(143,203,193,1) 0%, rgba(143,203,193,1) 50%, rgba(56,37,22,1) 50%, rgba(56,37,22,1) 100%);
background: linear-gradient(135deg, rgba(143,203,193,1) 0%, rgba(143,203,193,1) 50%, rgba(56,37,22,1) 50%, rgba(56,37,22,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fcbc1', endColorstr='#382516', GradientType=1 );
}

h1{
  margin: 0px;
  padding-top: 15px;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150px;
  color: #382516;
}

.navBar{
  float: right;
  margin-right: 30px;
  font-size: 25px;
  margin-top: -50px;
  color: #F7FEE8;
}

.navi{
  color: white;
}

.navi:hover{
  transition: ease 0.6s;
   color: #EEE349;
}

// *********
// **aside**
// *********


aside{
  float: left;
  margin-left: 5px;
  width: 25%;
}


.jsonLists{
  list-style: none;
  font-size: 25px;
  border: 2px solid #F7FEE8;
  border-radius: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #8FCBC1;
}

.navis{
  color: #27180C;
}

.navis:hover{
  transition: ease 0.5s;
  color: #FE0000;
}

.compTitle{
  color: #27180C;
  text-decoration: underline;
  margin-bottom: 15px;
}

a{
   text-decoration: none;
}

// **************
// ***my build***
// **************

.buildTitle{
  color: $textColor;
  margin-left: 40px;
  text-decoration: underline;
}


.myBuild{
  border: 2px solid #F7FEE8;
  border-radius: 10px;
  background-color: #8FCBC1;
}


.components{
  background: #8FCBC1;
}

.buildBlocks{
  color: $textColor;
}

// *************
// section stuff
// *************

section{
  float: right;
  border: 2px solid #F7FEE8;
  border-radius: 10px;
  width: 68%;
  height: 600px;
  margin-right: 60px;
  margin-top: 25px;
  overflow: scroll;
  background-color: white;
}



.compButton{
  width: 80px;
}

.md-toolbar-tools{
  background-color: #382516;
}

.addButton{
  float: right;
}

.itemList{
  list-style: none;
  background-color: #ECECEC;
  color: #24160B;
  border: 1px solid #F7FEE8;
  border-radius: 7px;
  margin-bottom: 3px;
  width: 60%;
}

.listDiv{
  margin-left: 35px;
  margin-top: -23px;
}

.md-icon{
  margin-top: 3px;
}

.checkBox{
  color: #F7FEE8;
}

.listMake{

}

.componentList{
  float: right;
}


// *************
// **autobuild**
// *************


.autoTitle{
  font-size: 60px;
  color: $textColor;
  text-align: center;
}

.autoScript{
  color: $textColor;
  text-align: center;

}



.savedBuilds{
  font-size: 60px;
  text-align: center;
}

.buildItDiv{
  width: 170px;
  padding: 15px;
  text-align: center;
  margin-left: 600px;
  border: 2px solid #24160B;
  border-radius: 10px;
  background-color: #8FCBC1;
}

.buildBut{
  color: #24160B;
}




.dummy{
  width: 40%;
  padding: 5px;
  border: 2px solid #24160B;
  margin-left: 400px;
  padding-left: 25px;
}

.dummy2{
  width: 40%;
  padding: 5px;
  border: 2px solid #24160B;
  margin-left: 400px;
  padding-left: 25px;

}

.completeComp{
  border: 2px solid #24160B;
  width: 30%;
  margin-left: 455px;
}
// ************
// ***footer***
// ************

footer{

}

