

$mainFont: 'Josefin Sans', sans-serif;


 body{
//   // background-image: url('../../images/background-final.jpg');
   background-color: #FEAEC8;
   font-family: $mainFont;
 }










// ************
// ***Header***
// ************

header{
  height: 150px;
  background-color: #4741B8;
}

h1{
  margin: 0px;
  padding-top: 15px;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150px;
  color: #F7FEE8;
}

.navBar{
  float: right;
  margin-right: 30px;
  font-size: 25px;
  margin-top: -50px;
  color: #F7FEE8;
}

.navi{
  color: #F7FEE8;
}

.navi:hover{
  transition: ease 0.6s;
   color: #FE586B;
}

// *********
// **aside**
// *********


aside{
  float: left;
  margin-left: 5px;
  width: 25%;
}


.jsonLists{
  list-style: none;
  font-size: 25px;
  border: 2px solid #F7FEE8;
  border-radius: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4741B8;
}

.compTitle{
  color: #F7FEE8;
  text-decoration: underline;
  margin-bottom: 15px;
}

a{
   text-decoration: none;
}

// **************
// ***my build***
// **************

.buildTitle{
  color: #F7FEE8;
  margin-left: 40px;
  text-decoration: underline;
}


.myBuild{
  border: 2px solid #F7FEE8;
  border-radius: 10px;
  background-color: #4741B8;
}


.components{
  background: #FEAEC8;
}

.buildBlocks{
  color: #F7FEE8;
}

// *************
// section stuff
// *************

section{
  float: right;
  border: 2px solid #F7FEE8;
  border-radius: 10px;
  width: 68%;
  height: 600px;
  margin-right: 60px;
  margin-top: 25px;
  overflow: scroll;
  background-color: white;
}

.compButton{
  width: 80px;
}


.addButton{
  float: right;
}

.itemList{
  list-style: none;
  background-color: #4741B8;
  color: #F7FEE8;
}

.checkBox{
  color: #F7FEE8;
}

.componentList{
  float: right;
}




// ************
// ***footer***
// ************

footer{

}

